.container {
  display: flex;
  flex-grow: 1;
  font-size: 2rem;
  font-family: monospace;
  border: 1px solid gray;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;

  &:after {
    content: ' ';
    display: block;
    padding-bottom: 100%;
  }
}